@font-face {
    font-family: 'Brother 1816';
    src: url('../fonts/Brother-1816-Regular.woff') format('woff'), url('../fonts/Brother-1816-Regular.ttf') format('truetype'), url('../fonts/Brother-1816-Regular.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Brother 1816';
}

.bg-sidebar, header {
    background: #020F2F;
}

.login {
    background: #020F2F;
}

.cta-btn {
    color: #4961E1;
}

.upgrade-btn {
    background: #4961E1;
}

.upgrade-btn:hover {
    background: #3A4EBB;
}

.active-nav-link {
    background: #4961E1;
}

.nav-item:hover {
    background: #4961E1;
}

.account-link:hover {
    background: #4961E1;
}

.bg-dark-blue {
    background-color: #020F2F;
}

.bg-royal-blue {
    background-color: #4169E1;
}

.text-dark-blue {
    color: #020F2F;
}

.text-light-blue {
    color: #4169E1;
}

.nav-text:hover {
    color: #4169E1;
    text-decoration: none;
}

.link {
    color: #FFFFFF;
}

.link:hover {
    color: #4169E1;
}

div.dataTables_filter, div.dataTables_length {
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.btn-submit {
    background-color: #4169E1;
    color: #020F2F;
}

.btn-submit:hover {
    background-color: #FFFFFF;
    color: #020F2F;
}

.btn-submit-auth {
    background-color: #4169E1;
    color: #020F2F;
}

.btn-submit-auth:hover {
    background-color: #020F2F;
    color: #FFFFFF;
}

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }
    thead tr:not(:first-child) {
        display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #4169E1;
    color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #3A4EBB;
}

.float:hover {
    background-color: #3A4EBB;
    color: #FFFFFF;
}

.my-float {
    margin-top: 22px;
}
