@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants hover, focus {
        .bg-dark-blue {
            background-color: #1E4D66;
        }

        .text-dark-blue {
            color: #1E4D66;
        }

        .bg-light-blue {
            background-color: #55B2FF;
        }

        .text-light-blue {
            color: #55B2FF;
        }
    }
}